@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka+One&family=Gloria+Hallelujah&family=Kalam&family=Rampart+One&family=Shantell+Sans:wght@500&display=swap');

*{
  font-family: 'Shantell Sans', cursive;
  font-size: medium;
}

/* font-family: 'Coming Soon', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Rampart One', cursive; 
font-family: 'Shantell Sans', cursive;
font-family: 'Kalam', cursive;
font-family: 'Chewy', cursive;
font-family: 'Fredoka One', cursive;*/


