.divNav{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url('https://i.pinimg.com/736x/c2/bb/3f/c2bb3f847844eed097c45ec0927dd0e9.jpg');
    padding: .5rem;
}


.buttonNav{
    top: 15px;
    position: absolute;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: 1px solid black;
    transition: all 1s ease;
    height: 30px;
    width: 70px;
}

.buttonNav:hover {
    background:palevioletred;;
    color: #fff;
  }

.inputNav{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}

 .imgNav{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 1rem;
    top: .5em;
}
